<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Reset Password d

    </h1>
    <form action="" method="post">
         <label for="resetpssword">Enter Password</label>
         <input type="text" name="password">
         <br>
         <label for="resetpssword">Confirm Password</label>
         <input type="text" name="password2">
         <br>
         <input type="submit" value="ResetPassword">
    </form>

</body>
</html>